{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    {% include 'nav/head.html' %}
    <link rel="stylesheet" href="{% static 'assets/css/layout/card_list.css' %}"/>
</head>

<body>
<div class="layui-layout layui-layout-admin">

    {#    TOP NAV#}
    {% include 'nav/top_nav_stu.html' %}
    {#    TOP NAV#}

    {#    LEFT NAV#}
    {% include 'nav/left_nav_stu.html' %}
    {#    LEFT NAV#}

    <div class="layui-body layui-bg-gray">
        <div id="item_number" class="layui-hide">{{ item_number }}</div>

        <div style="padding: 10px">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>全部课程</legend>
            </fieldset>
        </div>


        <div class="layui-fluid">
            <div class="layui-row layui-col-space12">
                <div class="layui-col-md11">
                    <form class="layui-form">
                        {% csrf_token %}
                        <div class="layui-form-item">
                            <div class="layui-input-block search-box">
                                <i class="layui-icon layui-icon-search"
                                   onclick="search_by_info(document.getElementById('search_box').value)"></i>
                                <input placeholder="搜索课程" id="search_box" type="text" class="layui-input"
                                       onkeydown="if(event.keyCode==13){search_by_info(this.value);return false}">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-col-md1">
                    <button class="layui-btn" onclick="get_recommend()">获取推荐</button>
                </div>
                {% for each in cour_list %}
                    <div class="layui-col-md12">
                        <div class="layui-card cour-item" onclick="view_info({{ each.id }})">
                            <div class="layui-card-header layui-bg-green">
                                {{ each.cour_name }}
                            </div>
                            <div class="layui-card-body" style="min-height: 75px">
                                <img src="/static/media/{{ each.cour_image }}">
                                <p>简介:</p>
                                <p>
                                    {{ each.cour_description }}
                                </p>

                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <div id="lay-page" style="margin-right: 20px"></div>
        </div>
    </div>

</div>

<script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
<script src={% static 'layui/layui.all.js' %}></script>
<script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
<script src="{% static 'assets/js/layui/nav.js' %}"></script>
<script src="{% static 'assets/js/layui/stu_find_cour.js' %}"></script>

</body>

</html>