{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

{% include 'nav/head.html' %}

<link href={% static 'vide/css/video-js.min.css' %} rel="stylesheet" type="text/css">
<script src={% static 'vide/js/video.min.js' %}></script>

<body>
<div id="wrapper">

    {#    TOP NAV#}
    {% include 'nav/top_nav_stu.html' %}
    {#    TOP NAV#}

    {#    LEFT NAV#}
    {% include 'nav/left_nav_stu.html' %}
    {#    LEFT NAV#}

    <div id="page-wrapper">
        <video id="my-video" class="video-js" controls preload="auto" width="960" height="400" data-setup="{}">
            <source src={% static  'media/10/1-5.mp4' %} type="video/mp4">
            <p class="vjs-no-js"> To view this video please enable JavaScript, and consider upgrading to a web browser
                that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
    </div>
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
<!-- Bootstrap Js -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Js -->
<script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
<!-- Morris Chart Js -->
<script src="{% static 'assets/js/morris/raphael-2.1.0.min.js' %}"></script>
<script src="{% static 'assets/js/morris/morris.js' %}"></script>


<script src="{% static 'assets/js/easypiechart.js' %}"></script>
<script src="{% static 'assets/js/easypiechart-data.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'assets/js/custom-scripts.js' %}"></script>

<script type="text/javascript">
    var myPlayer = videojs('example_video_1'); // video 标签中的ID
    myPlayer.ready(function(){
        myPlayer.play();    // 调用播放函数
    });
</script>
</body>

</html>