{% load static %}
<!DOCTYPE html>
<html lang="zh">
{% include 'nav/head.html' %}

<body>
<div class="layui-layout layui-layout-admin">

    {#    TOP NAV#}
    {% include 'nav/top_nav_tch.html' %}
    {#    TOP NAV#}

    {#    LEFT NAV#}
    {% include 'nav/left_nav_tch.html' %}
    {#    LEFT NAV#}

    <div class="layui-body">
        <div style="padding: 10px">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>添加{{ cour_name }}的章节</legend>
            </fieldset>

            <form class="layui-form" id="sect_form" lay-filter="sect_form">
                {% csrf_token %}

                <div class="layui-form-item">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="sect_name" id="sect_name" autocomplete="off"
                               placeholder="请输入章节名称" class="layui-input" value="{{ sect_name }}"
                               required>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">内容</label>
                    <div class="layui-input-block">
                                                <textarea placeholder="请输入内容" name="sect_text"
                                                          id="sect_text">{{ sect_text }}</textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">课件</label>
                    {#                                            {% csrf_token %}#}

                    <div class="layui-input-inline">
                        <input type="text" id="sect_tag" autocomplete="off"
                               placeholder="课程序号" class="layui-input" value=""
                               required>
                    </div>
                    <button type="button" class="layui-btn" id="upload_btn">
                        <i class="layui-icon">&#xe67c;</i>上传视频文件
                    </button>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button lay-submit="" class="layui-btn" lay-filter="submit_btn">立即提交
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        {#                                                <button id="save" class="layui-btn layui-btn-primary">重置</button>#}
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
<script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
<script src="{% static 'layui/layui.all.js' %}"></script>
<script src="{% static 'assets/js/custom-scripts.js' %}"></script>
<script src="{% static 'assets/js/layui/nav.js' %}"></script>
<script src={% static 'tinymce/tinymce.js' %}></script>
<script src={% static 'assets/js/layui/add_section.js' %}></script>
</body>

</html>