{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    {% include 'nav/head.html' %}
</head>

<body>
<div class="layui-layout layui-layout-admin">

    {#    TOP NAV#}
    {% include 'nav/top_nav_tch.html' %}
    {#    TOP NAV#}

    {#    LEFT NAV#}
    {% include 'nav/left_nav_tch.html' %}
    {#    LEFT NAV#}

    <div class="layui-body">
        <div style="padding: 10px">
            <table id="course_list" lay-filter="course">
                <thead>
                <tr>
                    <td lay-data="{field: 'id', width: 70, title: 'id', sort: true, hide: true}"></td>
                    <td lay-data="{field: 'name', width: 200, title: '课程名称'}"></td>
                    <td lay-data="{field: 'type', width: 110, title: '课程类型'}"></td>
                    <td lay-data="{field: 'create', width: 230, title: '创建日期', sort: true}"></td>
                    <td lay-data="{field: 'start', width: 200, title: '开始日期', sort: true}"></td>
                    <td lay-data="{field: 'end', width: 200, title: '结束日期', sort: true}"></td>
                    <td lay-data="{field: 'avilable', title: '是否激活', sort: true}"></td>
                </tr>
                </thead>
                <tbody>
                {% for each in cour_list %}
                    <tr>
                        <td>{{ each.id }}</td>
                        <td>{{ each.cour_name }}</td>
                        <td>{{ each.get_cour_type_display }}</td>
                        <td>{{ each.cour_create_time }}</td>
                        <td>{{ each.cour_start }}</td>
                        <td>{{ each.cour_end }}</td>
                        <td>{{ each.cour_avilable }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</div>

<script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
<script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
<script src="{% static 'layui/layui.all.js' %}"></script>
<script src="{% static 'assets/js/layui/nav.js' %}"></script>
<script src={% static 'assets/js/layui/course_table.js' %}></script>
{% csrf_token %}
</body>

</html>