{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href={% static 'assets/css/start.css' %}>
    <link rel="stylesheet" href={% static 'layui/css/layui.css' %}>
    {#    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">#}
</head>
<body>
<div class="signup-form">
    <form id="user_login" method="post">
        <h1>NEP MOOC</h1>
        <div class="usrt_type" style="visibility: hidden">{{ user_type }}</div>
        {% csrf_token %}
        <input type="text" placeholder="Mobile" class="txtb" name="mobile">
        <input type="password" placeholder="Password" class="txtb" name="password">
        <button type="button" class="layui-btn layui-btn-fluid" id="submit_btn">Log in</button>
        <a href="#">Don't have account?</a>
        <a href="{{ change_type_href }}">You are not a {{ user_type }}?</a>
    </form>
</div>

<script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
<script src={% static 'layui/layui.all.js' %}></script>
<script src={% static 'assets/js/layui/user_login.js' %}></script>
</body>
</html>
