<nav class="navbar-default navbar-side" role="navigation">
    <!--        <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>-->
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <!--                variable-->
            <li>
                <a {{ class_manage_course }} href={% url 'course_list' %}><i class="fa fa-table"></i> 我创建的课程</a>
            </li>
            <li>
                <a {{ class_create_course }} href={% url 'tch_create_course' %}><i class="fa fa-plus-square"></i> 发布新课程</a>
            </li>
            <li>
                <a {{ class_search_course }} href={% url 'tch_search_cour' %}><i class="fa fa-book"></i> 全部课程</a>
            </li>
            <li>
                <a {{ class_search_user }} href={% url 'tch_search_user' %}><i class="fa fa-users"></i> 寻找同学/教师</a>
            </li>
            <li>
                <a {{ class_profile }} href={% url 'tch_profile' %}><i class="fa fa-id-card"></i> 我的资料</a>
            </li>

        </ul>

    </div>

</nav>